body{

margin:0;

background:#F6F1E8;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Georgia;

}

.contenedor{

text-align:center;

}

video{

width:420px;

cursor:pointer;

}
